
<div class='link-to-home-page'>
  <a href="/products">< Back to All Desserts</a>
</div>

<h2>You ordered something!</h2>

<div>
  <h4>Email: <%= @order.user.email %> </h4>
  <h4>Order ID: <%= @order.id + 4356 %> </h4>
  <h4>Date Ordered: <%= @order.friendly_time %> </h4>

  <% @order.carted_products.each do |carted_product| %>

    <h4>Product: <%= carted_product.product.name %> </h4>
    <h4>Quantity: <%= carted_product.quantity %> </h4>

    <% if carted_product.product.images.first %>
      <h4><%= image_tag carted_product.product.images.first.url %> </h4>
    <% end %>
  <% end %>

  <h4>Subtotal: <%= number_to_currency(@order.subtotal) %> </h4>
  <h4>Tax: <%= number_to_currency(@order.tax) %> </h4>
  <h4>Total: <%= number_to_currency(@order.total) %> </h4>
</div>