<h3>Your Cart</h3>

<div class='table table-striped' %>
  <table>
    <thead>
    <!-- <div class='row'> -->
      <tr>
        <th>ID</th>
        <th></th>
        <th>Product Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <!-- </div> -->
    <tbody>
    <% @carted_products.each do |carted_product| %>
      <!-- <div class='row'> -->
        <tr>
          <td><%= carted_product.product_id %></td>
          <td>
            <% if carted_product.product.images.count >= 1 %>
              <img src='<%= carted_product.product.images.first.url %>' class="img-rounded" width='100px'>
            <% else %>
              <img src='' class="img-rounded" width='100px'>
            <% end %>
          </td>  
          <td><%= carted_product.product.name %></td>
          <td><%= carted_product.quantity %></td>
          <td class='delete-link'><%= link_to 'Delete from cart', "/carted_products/#{carted_product.id}", method: :patch %></td>
        </tr>
      <!-- </div> -->
    <% end %>
    </tbody>
   

  </table>
</div>

<div class='order_form'>
  <%= form_tag '/orders', method: 'post' do %>
    <div class="form-group">
      <%= submit_tag 'Buy Now!', class: "btn btn-default" %>
    </div>
  <% end %>
</div>