<% @products.each do |product| %>
  <div class='product'>
    <h3 class="bg-primary">
      <img src='<%= product.image %>' height='50' width='50'>  
      <a href="/products/<%= product.id %>"><%= product.name %></a> 
      <img src='<%= product.flag_image %>' height='25' width='45'>
    </h3>
    <h4>Country of Origin: <%= product.country_of_origin %> </h4>
    <h5><%= product.description %></h5>
  </div>
<% end %>
