<% @products.each_slice(2) do |products| %>



  <div class='row'>
    <% products.each do |product| %>
      <div class="col-md-6">

        <div class="well">
          <div class='flag-image'>
            <img src='<%= product.flag_image %>' height='25' width='45'>
          </div>
          <div class='product'>
            <h3 class="bg-primary">
              <img class="prod_img" src='<%= product.image %>' height='50' width='50'>  
              <a href="/products/<%= product.id %>"><%= product.name %></a> 
              
            </h3>
            <h4>Country of Origin: <%= product.country_of_origin %> </h4>
            <!-- <h5><%#= product.description %></h5> -->

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>

<div class='link-to-home-page'>
  <%= link_to "Add a new dessert", '/products/new' %>
</div>
