<div class='link-to-home-page'>
  <a href="/products">< Back to All Desserts</a>
</div>

<div class='product'>
  <h3 class="bg-primary"><%= @product.name %></h3>
  <h4>Supplier: <%= @product.supplier.name %></h4>
  <h4>Country of Origin: <%= @product.country_of_origin %> </h4>
  <h5><%= @product.description %></h5>
  <h5>Price: <%= number_to_currency(@product.price) %> + <%= number_to_currency(@product.tax) %> (tax): <%= number_to_currency(@product.total_price) %>   
    <% if @product.discounted? %>
      <span class='discount'>On Sale!</span>
    <% else %>
      <span>Great Price!</span>
    <% end %>
  </h5>

  <% @product.images.each do |image| %>
    <img src='<%= image.url %>' class="img-rounded" width='100px'>
  <% end %>

  <div class='categories_list'>
    <h5>Available in the following countries:</h5>
    <ul>
      <% @product.categories.each do |category| %>
        <li><%= category.name %></li> 
      <% end %>
    </ul>
  </div>

  


  <div class='order_form'>
    <%= form_tag '/orders', method: 'post' do %>
      <div class="form-group">
        <%= label_tag :quantity %>
        <%= text_field_tag :quantity, 1, class: 'form-control' %>
      </div>
      <div>
        <%= hidden_field_tag :product_id, @product.id %>
      </div>
      <div class="form-group">
        <%= submit_tag 'Buy Now!', class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

<div class='link-to-home-page'>
  <a href="/products/<%= @product.id %>/images/new">Add an Image to this Product</a>
</div>

<div class='link-to-home-page'>
  <a href="/products/<%= @product.id %>/edit">Edit this Product</a>
</div>

<div class='link-to-home-page'>
  <%= link_to "Delete this product", "/products/#{@product.id}", method: :delete %>
</div>

